@import "tailwindcss";

@theme {
  --color-primary: #F4D03F;
  --color-secondary: #111111;
  --color-background: #F9FAFB;
  --color-foreground: #111111;

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #F9FAFB;
  --foreground: #111111;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}